{% extends "base.html" %}

{% block content %}

<h1>Registro de Alumnos</h1>

<h3>Buscar Alumno</h3>

<form action="/buscar_alumno" method="POST">


<label>Matricula:</label>
<input type="text" name="matricula">

<button type="submit">Buscar</button>


</form>

<hr>

<h3>Modificar Alumno</h3>

<form action="/modificar_alumno" method="POST">


<label>Matricula:</label>
<input type="text" name="matricula">

<br><br>

<label>Nuevo Nombre:</label>
<input type="text" name="nombre">

<br><br>

<label>Carrera:</label>
<select name="carrera">
    <option value="Programacion">Programacion</option>
    <option value="Electronica">Electronica</option>
    <option value="Bilingue">Bilingue</option>
    <option value="Recursos Humanos">Recursos Humanos</option>
</select>

<br><br>

<label>NuevoSemestre:</label>
<select name="semestre">
    <option value="1">1° Semestre</option>
    <option value="2">2° Semestre</option>
    <option value="3">3° Semestre</option>
    <option value="4">4° Semestre</option>
    <option value="5">5° Semestre</option>
    <option value="6">6° Semestre</option>
</select>


<br><br>

<label>Correo:</label>
<input type="text" name="correo" placeholder="ejemplo">
<span>@gmail.com</span>

<br><br>

<label>Nueva Fecha de Nacimiento:</label>
<input type="date"
       name="fecha_nacimiento"
       min="2008-01-01"
       max="2026-12-31">

<br><br>

<button type="submit">Modificar</button>


</form>

<hr>

<h3>Eliminar Alumno</h3>

<form action="/eliminar_alumno" method="POST">


<label>Matricula:</label>
<input type="text" name="matricula">

<button type="submit">Eliminar</button>


</form>

<hr>

<h3>Guardar Alumno</h3>

<form action="/guardar_alumno" method="POST">


<label>Matricula:</label>
<input type="text" name="matricula">

<br><br>

<label>Nombre:</label>
<input type="text" name="nombre">

<br><br>

<label>Carrera:</label>
<select name="carrera">
    <option value="Programacion">Programacion</option>
    <option value="Electronica">Electronica</option>
    <option value="Bilingue">Bilingue</option>
    <option value="Recursos Humanos">Recursos Humanos</option>
</select>

<br><br>

<label>Semestre:</label>
<select name="semestre">
    <option value="1">1° Semestre</option>
    <option value="2">2° Semestre</option>
    <option value="3">3° Semestre</option>
    <option value="4">4° Semestre</option>
    <option value="5">5° Semestre</option>
    <option value="6">6° Semestre</option>
</select>

<br><br>

<label>Correo:</label>
<input type="text" name="correo" placeholder="ejemplo">
<span>@gmail.com</span>

<br><br>

<label>Fecha de Nacimiento:</label>
<input type="date"
       name="fecha_nacimiento"
       min="2008-01-01"
       max="2026-12-31">

<br><br>

<button type="submit">Guardar</button>


</form>

<br>

<a href="/reporte_alumnos">
    <button>Reporte de Alumnos</button>
</a>

<br><br>

<a href="/">
    <button>Regresar</button>
</a>

{% endblock %}
