<!DOCTYPE html>
<html>
<head>
    <title>Sistema Educativo</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body>

<header>

    <img src="static/css/img/cetis61.jpg"
width="120">

<h1>Sistema Educativo</h1>

<p>Administración Escolar</p>

</header>

<nav>

    <a href="/">Inicio</a>
    <a href="/alumnos">Alumnos</a>
    <a href="/maestros">Maestros</a>
    <a href="/materias">Materias</a>

</nav>

<div class="container">

{% block content %}
{% endblock %}

</div>

<footer>

    Sistema Educativo © 2026

</footer>

</body>
</html>