{% extends "base.html" %}

{% block content %}

<h1>Registro de Materias</h1>

<h3>Buscar Materia</h3>

<form action="/buscar_materia" method="POST">

    <label>Clave:</label>
    <input type="text" name="clave">

    <button type="submit">Buscar</button>

</form>

<hr>

<h3>Modificar Materia</h3>

<form action="/modificar_materia" method="POST">

    <label>Clave:</label>
    <input type="text" name="clave">

    <br><br>

    <label>Nuevo Nombre:</label>
    <input type="text" name="nombre">

    <br><br>

    <label>Nuevos Creditos:</label>
    <input type="text" name="creditos">

    <br><br>

    <label>Nuevo Semestre:</label>
    <input type="text" name="semestre">

    <br><br>

    <button type="submit">Modificar</button>

</form>

<hr>

<h3>Eliminar Materia</h3>

<form action="/eliminar_materia" method="POST">

    <label>Clave:</label>
    <input type="text" name="clave">

    <button type="submit">Eliminar</button>

</form>

<hr>

<h3>Guardar Materia</h3>

<form action="/guardar_materia" method="POST">

    <label>Clave:</label>
    <input type="text" name="clave">

    <br><br>

    <label>Nombre:</label>
    <input type="text" name="nombre">

    <br><br>

    <label>Creditos:</label>
    <input type="text" name="creditos">

    <br><br>

    <label>Semestre:</label>
    <input type="text" name="semestre">

    <br><br>

    <button type="submit">Guardar</button>

</form>

<br>

<a href="/reporte_materias">
    <button>Reporte de Materias</button>
</a>

<br><br>

<a href="/">
    <button>Regresar</button>
</a>

{% endblock %}